<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="index-invoice">
      <%= link_to("Add Invoice", new_invoice_path, class: "btn btn-primary") %>
      <table class = "table">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Company</th>
            <th>Contragent</th>
            <th>Currency</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td><%= invoice.amount %></td>
              <td><%= invoice.company %></td>
              <td><%= invoice.contragent %></td>
              <td><%= invoice.currency %></td>
              <td><%= invoice.date %></td>
              <td>
                <%= link_to("Show", invoice_path(invoice), class: "btn btn-info") %>
                <%= link_to("Delete", invoice_path(invoice), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
